body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #190564;
    color: #dccece;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

footer {
    background: #090f6e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
header p {
    color: #bdbdbd; 
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem; 
    text-align: center; 
    padding: 0 2rem;
}
